#!/usr/bin/env zsh
# bin
alias t="touch"
alias rmf="rm -rf"
alias v="vim"
alias ec="emacsclient -t"
alias ez="exec zsh"
alias grep="rg"
alias zstd="zstd -T0"
alias upz="zprezto-update"
alias upv="git -C ~/.SpaceVim pull"
alias cfmt="clang-format -i -style=google"
# dirs/files
alias github="cd $HOME/github"
alias ghub="github"
alias gopath="cd $HOME/go/src/github.com/nijaru"
# ls
alias ls="exa"
alias l="ls -1"
alias ll="ls -lh"
alias la="ls -1a"
alias lsa="ls -a"
alias lla="ls -la"
alias tree="exa -T -L 2"
alias trees="exa -T"
# docker
alias dk="docker"
alias k="kubectl"
alias mk="minikube"
# py
alias python="python3"
alias py="python"
alias pip="pip3"
alias pipi="pip install"
alias pye="pyenv"
alias pie="pipenv"
# rb
alias rb="ruby"
alias rspec="rspec -c"
alias bi="bundle install"
alias bu="bundle update"
alias be="bundle exec"
alias gemi="gem install"
alias gemu="gem update"
# go
alias ggt="go get -u -v"
alias ggtd="go get -u -v -d"
alias grun="go run"
alias got="go test -cover"
alias gtb="go test -bench=. -benchmem"
# rs
alias ru="rustup"
alias rup="rustup update"
alias c="cargo"
alias cb="cargo build"
alias cr="cargo run"
alias ct="cargo test"
alias ca="cargo add"
alias cx="cargo rm"
alias cu="cargo update"
alias cup="cargo upgrade"
# js
alias n="node"
alias y="yarn"
alias yb="yarn build"
alias ys="yarn start"
alias yd="yarn dev"
alias yc="yarn create"
alias ya="yarn add"
alias yad="yarn add --dev"
alias yu="yarn upgrade"
alias yl="yarn list"
alias yx="yarn remove"
alias yg="yarn global"
alias yga="yarn global add"
alias ygx="yarn global remove"
alias ygu="yarn global upgrade"
alias ygul="yarn global upgrade --latest"
alias ygl="yarn global list"
# git
alias g="git"
alias gi="git init"
alias gcln="git clone"
alias gch="git checkout"
alias gcb="git checkout -b"
alias st="git status"
alias ga="git add"
alias ga.="git add ."
alias gcm="git commit -sm"
alias gdf="git diff"
alias gpsu="git push --set-upstream"
alias gpsuom="git push --set-upstream origin main"
alias gsm="gsync main"
# git - new
alias grstr="git restore"
alias grstrs="git restore --staged"
# git - extra or old
# alias gcx="git checkout --"
# alias gcx.="git checkout -- ."
# alias gdfs="git diff --staged"
# alias gdfh="git diff HEAD"
# alias gfx="git commit --fixup"
# alias gsq="git commit --squash"
# alias gpu="git push -u"
# alias gfp="git fetch --prune"
# alias gpl="git pull"
# alias gpr="git pull --rebase"
# alias gmf="git merge --ff-only"
# alias gmnf="git merge --no-ff"
# alias gria="git rebase -i --autosquash"
# alias gundo="git reset --soft"
# alias grst="git reset --hard"
# alias grh="git reset HEAD"
# alias grh1="git reset HEAD~1"
# alias gclean="git clean -dfx"
# alias grau="git remote add upstream"
# alias grv="git remote -v"
# alias gsall="git stash save --include-untracked"
# git log
alias gl="git log -n 20 --pretty=format:'%Cgreen%h%C(auto)%d %s %C(bold cyan)%cr %C(bold blue)<%an>%Creset'"
alias glg="git log --graph --all -n 40 --pretty=format:'%Cgreen%h%C(auto)%d %s %C(bold cyan)%cr %C(bold blue)<%an>%Creset'"
alias gla="git log --graph --pretty=format:'%Cgreen%h%C(auto)%d %s %C(bold cyan)%cr %C(bold blue)<%an>%Creset'"
alias gl4="git log -n 40 --pretty=format:'%Cgreen%h%C(auto)%d %s %C(bold cyan)%cr %C(bold blue)<%an>%Creset'"
alias gll="git log --topo-order --pretty=format:'${_git_log_medium_format}'"
