#!/usr/local/env zsh

# aliases
# bin
alias t="touch"
alias cl="clear"
alias rmf="rm -rf"
alias m="micro"
alias dk="docker"
alias k="kubectl"
alias mk="minikube"
alias top="htop"
alias grep="rg"
alias xzdir="tar cJvf"
alias trt="traceroute"
alias sethosts='curl "https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts" | sudo tee -a /etc/hosts'
alias resethosts="sudo cp -f ~/Dropbox/dotfiles/hosts.default /etc/hosts"
# dirs/files
alias config="cd $HOME/.config"
alias license="cp $HOME/.LICENSE ./LICENSE"
alias makefile="cp $HOME/.Makefile ."
alias makefilec="cp $HOME/.Makefilec ./Makefile"
alias mf=makefile
alias mfc=makefilec
alias clangformat="cp $HOME/Dropbox/files/.clang-format ."
# clang
alias buildc="clang main.c -o main"
alias buildcpp="clang++ -std=c++14 main.cpp -o main"
# py
alias py="python3"
alias py2="python2"
alias pip="/usr/local/bin/pip3"
alias pip2="/usr/local/bin/pip"
alias pipi="pip install"
alias pye="pyenv"
alias pie="pipenv"
# js
alias n="node"
alias y="yarn"
alias yi="yarn init"
alias ya="yarn add"
alias yad="yarn add --dev"
alias yu="yarn upgrade"
alias yl="yarn list"
alias yx="yarn remove"
alias yga="yarn global add"
alias ygx="yarn global remove"
alias ygu="yarn global upgrade"
alias ygul="yarn global upgrade --latest"
alias ygl="yarn global list"
# rb
alias rb="ruby"
alias rspec="rspec -c"
alias be="bundle exec"
# go
alias ggt="go get -u -v"
alias got="go test -cover"
alias gtb="go test -bench=. -benchmem"
# rs
alias cb="cargo build"
alias cr="cargo run"
# misc
alias gh="cd $HOME/github"
alias ws="cd $HOME/go/src/github.com/nijaru"
# update
alias up="update; back; clean; exec zsh"
# backup
alias back="backbr; backg; backm; backz"
# clean
alias clean="brewc; caskC; gem cleanup"
# up
# alias update="upb; ygu; uprb; uppy; upz; rustup update"
alias update="upb; ygu; uprb; upz; rustup update"
alias upb="brew update; brew upgrade"
alias uppy="conda update -y conda anaconda"
alias uprb="gem update -f"
alias uprs="rustup update"
alias upz="zprezto-update"
# backups
alias backbr="echo 'Backing up brews...'; rm -f $HOME/Dropbox/dotfiles/Brewfile.backup; mv $HOME/Dropbox/dotfiles/Brewfile $HOME/Dropbox/dotfiles/Brewfile.backup; brew bundle dump --file=$HOME/Dropbox/dotfiles/Brewfile"
alias backg="echo 'Backing up git...'; rm -rf $HOME/Dropbox/dotfiles/gitconfig; cp -f $HOME/.gitconfig $HOME/Dropbox/dotfiles/gitconfig"
alias backm="echo 'Backing up micro settings...'; rm -rf $HOME/Dropbox/dotfiles/settings.json; cp $HOME/.config/micro/settings.json $HOME/Dropbox/dotfiles"
alias backz="echo 'Backing up zsh...'; rm -rf $HOME/Dropbox/dotfiles/.zprezto; cp -Rf $HOME/.zprezto $HOME/Dropbox/dotfiles/.zprezto"
# ls
alias ls="exa"
alias l="ls -1"
alias ll="ls -lh"
alias la="ls -1a"
alias lla="ls -la"
alias tree="exa -T"
alias trees="exa -T -L 2"
# git
alias g="git"
alias gi="git init"
alias gcln="git clone"
alias gcb="git checkout -b"
alias st="gst"
alias gst="git status"
alias ga="git add"
alias ga.="git add ."
alias gcx="git checkout --"
alias gcx.="git checkout -- ."
alias gdf="git diff"
alias gcm="git commit -sm"
alias gfx="git commit --fixup"
alias gsq="git commit --squash"
alias gfp="git fetch --prune"
alias gpl="git pull"
alias gpr="git pull --rebase"
alias gmf="git merge --ff-only"
alias gmnf="git merge --no-ff"
alias gria="git rebase -i --autosquash"
alias gundo="git reset --soft"
alias grst="git reset --hard"
alias grh="git reset HEAD"
alias grh1="git reset HEAD~1"
alias gclean="git clean -dfx"
alias gpsu="git push --set-upstream"
alias grv="git remote -v"
alias gl="git log -n 20 --pretty=format:'%Cgreen%h%C(auto)%d %s %C(bold cyan)%cr %C(bold blue)<%an>%Creset'"
alias gl4="git log -n 40 --pretty=format:'%Cgreen%h%C(auto)%d %s %C(bold cyan)%cr %C(bold blue)<%an>%Creset'"
alias gll="git log --topo-order --pretty=format:'${_git_log_medium_format}'"
alias glg="git log --graph --all --pretty=format:'%Cgreen%h%C(auto)%d %s %C(bold cyan)%cr %C(bold blue)<%an>%Creset'"
alias gsall="git stash save --include-untracked"
alias gsm="gsync master"
# hub
alias hubcr="hub create"
alias hubc="hub clone"
alias hubf="hub fork"
alias hubpr="hub pull-request"
