#!/usr/bin/env zsh

# bin
alias sc="sudo systemctl"
alias t="touch"
alias rmf="rm -rf"
alias grep="rg"
alias dk="docker"
alias k="kubectl"
alias mk="minikube"
alias sethosts='sudo resethosts; sudo curl "https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts" | sudo tee -a /etc/hosts'
alias resethosts="sudo cp -f ~/.hosts /etc/hosts"
alias ez="exec zsh"
# wireguard
alias wgq="wg-quick"
alias wgqu="wg-quick up"
alias wgqd="wg-quick down"
alias wgqu2="wg-quick up mullvad-us2"
alias wgqu12="wg-quick up mullvad-us12"
alias wgqd2="wg-quick down mullvad-us2"
alias wgqd12="wg-quick down mullvad-us12"
# editors 
alias v="nvim"
alias a="atom"
alias a.="atom ."
alias a..="atom .."
alias c="code"
alias c.="code ."
alias c..="code .."
# dirs/files
alias gh="cd $HOME/github"
alias ws="cd $HOME/go/src/github.com/nijaru"
alias config="cd $HOME/.config"
alias license="cp $HOME/.LICENSE ./LICENSE"
alias makefile="cp $HOME/.Makefile ."
alias makefilec="cp $HOME/.Makefilec ./Makefile"
alias mf=makefile
alias mfc=makefilec
alias buildc="gcc main.c -o main -std=c11 -march=native -O2 -pipe"
alias buildcpp="g++ main.cpp -o main -std=c++14 -march=native -O2 -pipe"
# py
alias py="python"
alias pi="pip"
alias pipi="pip install"
alias pye="pyenv"
alias pie="pipenv"
# js
alias n="node"
alias y="yarn"
alias yi="yarn init"
alias ya="yarn add"
alias yad="yarn add --dev"
alias yu="yarn upgrade"
alias yl="yarn list"
alias yx="yarn remove"
alias yg="yarn global"
alias yga="yarn global add"
alias ygx="yarn global remove"
alias ygu="yarn global upgrade"
alias ygul="yarn global upgrade --latest"
alias ygl="yarn global list"
# rb
alias rb="ruby"
alias rspec="rspec -c"
alias be="bundle exec"
alias gemi="gem install"
# go
alias ggt="go get -u -v"
alias got="go test -cover"
alias gtb="go test -bench=. -benchmem"
# rs
alias ru="rustup"
alias cb="cargo build"
alias cr="cargo run"
# up
alias uprb="gem update -f"
alias uprs="rustup update"
alias upv="(cd ~/.vim_runtime; git pull --rebase)"
alias upz="zprezto-update"
# ls
alias ls="exa"
alias l="ls -1"
alias ll="ls -lh"
alias la="ls -1a"
alias lsa="ls -a"
alias lla="ls -la"
alias tree="exa -T"
alias trees="exa -T -L 2"
# git
alias g="git"
alias gi="git init"
alias gcln="git clone"
alias gcb="git checkout -b"
alias st="git status"
alias ga="git add"
alias ga.="git add ."
alias gcx="git checkout --"
alias gcx.="git checkout -- ."
alias gdf="git diff"
alias gdfs="git diff --staged"
alias gcm="git commit -sm"
alias gfx="git commit --fixup"
alias gsq="git commit --squash"
alias gfp="git fetch --prune"
alias gpl="git pull"
alias gpr="git pull --rebase"
alias gmf="git merge --ff-only"
alias gmnf="git merge --no-ff"
alias gria="git rebase -i --autosquash"
alias gundo="git reset --soft"
alias grst="git reset --hard"
alias grh="git reset HEAD"
alias grh1="git reset HEAD~1"
alias gclean="git clean -dfx"
alias gpsu="git push --set-upstream"
alias gpsuom="git push --set-upstream origin master"
alias grv="git remote -v"
alias gl="git log -n 20 --pretty=format:'%Cgreen%h%C(auto)%d %s %C(bold cyan)%cr %C(bold blue)<%an>%Creset'"
alias gl4="git log -n 40 --pretty=format:'%Cgreen%h%C(auto)%d %s %C(bold cyan)%cr %C(bold blue)<%an>%Creset'"
alias gll="git log --topo-order --pretty=format:'${_git_log_medium_format}'"
alias glg="git log --graph --all --pretty=format:'%Cgreen%h%C(auto)%d %s %C(bold cyan)%cr %C(bold blue)<%an>%Creset'"
alias gsall="git stash save --include-untracked"
alias gsm="gsync master"
# hub
alias hubcr="hub create"
alias hubc="hub clone"
alias hubf="hub fork"
alias hubpr="hub pull-request"
