[user]
    name = Nick Russo
    email = nijaru0x@gmail.com
[branch]
	sort = -commiterdate
[checkout]
    defaultRemote = origin
    workers = 0
[column]
	ui = auto
[commit]
    gpgsign = true
[core]
    editor = $EDITOR --wait
    excludesFile = ~/.gitignore
    preloadIndex = true
    untrackedCache = true
    pager = delta
    autocrlf = input
    safecrlf = true
[diff]
    algorithm = histogram
    colorMoved = default
[fetch]
    parallel = 0
    prune = true
    pruneTags = true
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictstyle = zdiff3
    ff = only
    tool = $EDITOR
[mergetool "$EDITOR"]
    cmd = $EDITOR --wait $MERGED
[pack]
    threads = 0
[pull]
    prune = true
    pruneTags = true
    rebase = true
[push]
    autoSetupRemote = true
    default = current
    followTags = true
[rebase]
    autoStash = true
    autoSquash = true
[rerere]
    autoupdate = true
    enabled = true
[status]
    showUntrackedFiles = all
[submodule]
    recurse = true
    fetchJobs = 0
[tag]
    forceSignAnnotated = true
[transfer]
    fsckobjects = true
[url "git@github.com:"]
    insteadOf = https://github.com/

[color]
    ui = true
[color "status"]
    changed = yellow

[alias]
    patch = apply --ignore-space-change --ignore-whitespace
    scrub = reset --hard @{upstream}
