[user]
	name = Nick Russo
	email = nijaru0x@gmail.com
	signingkey = 6C09713D1BF8E813
[core]
	editor = vim
[color "status"]
	changed = yellow
[commit]
	gpgsign = true
[diff]
	algorithm = patience
[init]
	defaultBranch = main
[merge]
	ff = only
[push]
	default = simple
	followTags = true
[rebase]
	autosquash = true
[status]
	showUntrackedFiles = all
[transfer]
	fsckobjects = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
