#!/usr/bin/env zsh

# bin
alias t="touch"
alias rmf="rm -rf"
alias ez="exec zsh"
alias cp="cp -a"
alias cpa="cp -a"
# alias sed="sd"
alias grep="rg"
alias find="fd"
# alias ps="procs"
# alias du="dust"

# misc
alias upz="z4h update"
# alias up="rustup update; upz; pipx upgrade-all"
alias tarz="tar --zstd -cf"

# editors
alias e="$EDITOR"
alias e.="$EDITOR ."
alias c="code"
alias c.="code ."
alias z="zed"
alias z.="zed ."
# paths
alias dotfiles="cd $HOME/github/dotfiles"
alias github="cd $HOME/github"
alias ghub="github"
alias gopath="cd $HOME/go/src/github.com/nijaru"

# ls
alias ls="eza"
alias l="ls -1"
alias ll="ls -lh"
alias la="ls -1a"
alias lsa="ls -a"
alias lla="ls -lha"
# ls with tree
alias lst="ls -T"
alias lsta="ls -T -a -I .git"
alias lst2="ls -T -L 2"
alias lt="lst"
alias lta="lsta"
alias lt2="lst2"

# docker
alias dk="docker"
alias k="kubectl"
alias mk="minikube"

# python
alias py="python"
alias python="python3"
alias pypy="pypy3"
# pip
alias pip="py -m pip"
alias pipi="pip install --upgrade"
alias piprm="pip uninstall"
# poetry
alias p="poetry"
alias pi="poetry install"
alias pr="poetry run"
alias prp="poetry run python"
alias psh="poetry shell"
alias pu="poetry update"

# go
alias ggt="go get -u"
alias ggtv="go get -u -v"
alias ggtd="go get -u -v -d"
alias grun="go run"
alias got="go test -cover"
alias gtb="go test -bench=. -benchmem"

# rs
alias ru="rustup"
alias rup="rustup update"
alias cb="cargo build"
alias cr="cargo run"
alias ct="cargo test"
alias ca="cargo add"
alias cx="cargo rm"
alias cu="cargo update"

# git
alias g="git"
alias gi="git init"
# status
alias gw="git status"
alias gd="git diff"
alias gdh="git diff HEAD"
alias gds="git diff --staged"
# stash
alias gs="git stash"
alias gsa="git stash apply"
alias gsp="git stash pop"
alias gsd="git stash drop"
alias gsl="git stash list"
# alias gsc="git stash clear"
# commit
alias grs="git restore"
alias grss="git restore --staged"
alias ga="git add"
alias ga.="git add ."
alias gaa="git add --all"
alias gcm='git commit --gpg-sign --message'
alias gcf='git commit --amend --reuse-message HEAD --gpg-sign'
alias gcF='git commit --amend --gpg-sign'
# cherry-pick
alias gcp='git cherry-pick --ff'
alias gcpc='git cherry-pick --continue'
alias gcpa='git cherry-pick --abort'
# branch
alias gb="git branch"
alias gsw="git switch"
alias gm="git merge"
alias gr="git rebase"
alias grc="git rebase --continue"
alias gra="git rebase --abort"
# remote
alias gcl="git clone"
alias grm="git remote"
alias grmv="git remote --verbose"
alias gpl="git pull"
alias gp="git push"
alias gpf="git push --force-with-lease"
# log
alias gl="git log --pretty=format:'%C(green)%h%C(auto)%d %s %C(cyan)%cr %C(blue)<%an>%C(reset)' -n 10"
alias gln="git log --pretty=format:'%C(green)%h%C(auto)%d %s %C(cyan)%cr %C(blue)<%an>%C(reset)' -n"
alias glg="git log --graph --pretty=format:'%C(green)%h%C(auto)%d %s %C(cyan)%cr %C(blue)<%an>%C(reset)' -n 20"
alias glgn="git log --graph --pretty=format:'%C(green)%h%C(auto)%d %s %C(cyan)%cr %C(blue)<%an>%C(reset)' -n"
alias gsync="git sync"
