#!/usr/bin/env zsh

# bin
alias t="touch"
alias rmf="rm -rf"
alias ez="exec zsh"
alias cpa="cp -a"
# alias sed="sd"
alias grep="rg"
alias find="fd"
# alias ps="procs"
# alias du="dust"
# misc
alias g="git"
alias upz="z4h update"
# alias up="rustup update; upz; pipx upgrade-all"
alias tarz="tar --zstd -cf"
# editors
alias e="$EDITOR"
alias e.="$EDITOR ."
alias c="code"
alias c.="code ."
alias z="zed"
alias z.="zed ."
# paths
alias dotfiles="cd $HOME/github/dotfiles"
alias github="cd $HOME/github"
alias ghub="github"
alias gopath="cd $HOME/go/src/github.com/nijaru"
# ls
alias ls="eza"
alias l="ls -1"
alias ll="ls -lh"
alias la="ls -1a"
alias lsa="ls -a"
alias lla="ls -lha"
# ls with tree
alias lst="ls -T"
alias lsta="ls -T -a -I .git"
alias lst2="ls -T -L 2"
alias lt="lst"
alias lta="lsta"
alias lt2="lst2"
# docker
alias dk="docker"
alias k="kubectl"
alias mk="minikube"
# py
alias py="python"
alias python="python3"
alias pypy="pypy3"
# pip
alias pip="py -m pip"
alias pipi="pip install --upgrade"
alias piprm="pip uninstall"
# poetry
alias p="poetry"
alias pi="poetry install"
alias pr="poetry run"
alias prp="poetry run python"
alias psh="poetry shell"
alias pu="poetry update"
# go
alias ggt="go get -u"
alias ggtv="go get -u -v"
alias ggtd="go get -u -v -d"
alias grun="go run"
alias got="go test -cover"
alias gtb="go test -bench=. -benchmem"
# rs
alias ru="rustup"
alias rup="rustup update"
alias cb="cargo build"
alias cr="cargo run"
alias ct="cargo test"
alias ca="cargo add"
alias cx="cargo rm"
alias cu="cargo update"
alias cup="cargo upgrade"

# Git upstream branch syncer.
# Usage: gsync master (checks out master, pull upstream, push origin).
function gsync() {
  if [ ! "$1" ] ; then
    echo "You must supply a branch."
    return 0
  fi

  BRANCHES=$(git branch --list $1)
  if [ ! "$BRANCHES" ] ; then
    echo "Branch $1 does not exist."
    return 0
  fi

  git checkout "$1" && \
  git pull upstream "$1" && \
  git push origin "$1"
}
