[user]
	name = Nick Russo
	email = nijaru0x@gmail.com
[checkout]
	defaultRemote = origin
	workers = 0
[commit]
	gpgsign = true
[core]
	editor = $EDITOR --wait
	excludesFile = ~/.gitignore
	preloadIndex = true
	untrackedCache = true
[difftool]
	prompt = false
[difftool "branchless"]
	cmd = git-branchless difftool --read-only --dir-diff $LOCAL $REMOTE
[fetch]
	parallel = 0
	prune = true
	pruneTags = true
[init]
	defaultBranch = main
[merge]
	ff = only
	tool = vscode
[mergetool "$EDITOR"]
	cmd = $EDITOR --wait $MERGED
[mergetool "branchless"]
	cmd = git-branchless difftool $LOCAL $REMOTE --base $BASE --output $MERGED
[pack]
	threads = 0
[pull]
	prune = true
	pruneTags = true
	rebase = true
[push]
	default = upstream
	followTags = true
[rebase]
	autoStash = true
	autoSquash = true
[rerere]
	autoupdate = true
	enabled = true
[status]
	showUntrackedFiles = all
[submodule]
	# recurse = true
	fetchJobs = 0
[tag]
	forceSignAnnotated = true
[transfer]
	fsckobjects = true
[url "git@github.com:"]
	insteadOf = https://github.com/

[color]
	ui = true
[color "status"]
	changed = yellow

[alias]
	patch = apply --ignore-space-change --ignore-whitespace
	scrub = reset --hard @{upstream}
