{{- if eq .chezmoi.os "darwin" }}
# Include OrbStack config only on macOS
Include ~/.orbstack/ssh/config
{{- end }}

Host *
    AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
    UseKeychain yes
{{- end }}
    IdentityFile ~/.ssh/id_ed25519