{
  "custom_models": [
    {
      "model_display_name": "Grok 4.1 Fast (OpenRouter)",
      "model": "x-ai/grok-4.1-fast",
      "base_url": "https://openrouter.ai/api/v1",
      "api_key": "{{ env "OPENROUTER_API_KEY" }}",
      "provider": "generic-chat-completion-api",
      "max_tokens": 8192
    },
    {
      "model_display_name": "Gemini 3 Pro Preview [Google]",
      "model": "gemini-3.0-pro-preview",
      "base_url": "https://generativelanguage.googleapis.com/v1beta/",
      "api_key": "{{ env "GEMINI_API_KEY" }}",
      "provider": "generic-chat-completion-api",
      "max_tokens": 32000
    }
  ]
}
